.center{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}

.mat-label{
    font-size: 18px;
}


.graph{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;;
    margin : 1rem 1rem;
    border-radius: 5px;
}